@import "tailwindcss";

@font-face {
  font-family: "Bethinaedemo";
  src: url("./assets/fonts/BethinaedemoRegular-KVRmZ.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

.text-outline {
  color: transparent;
  -webkit-text-stroke: 1.7px #273d26;
}

@layer base {
  body {
    @apply bg-[#f4cfa3] m-[1.3rem] text-[#111] min-md:mx-[2rem] min-md:my-[1.3rem];
  }

  h2 {
    @apply min-lg:px-[2rem];
  }

  input {
    @apply min-md:text-[1.5rem];
  }

  li {
    @apply list-none;
  }

  p {
    @apply pb-[0.5rem];
  }
}

@layer components {
  .btn {
    @apply bg-[#bb6830] h-auto px-6 py-3 rounded-lg text-[1.2rem] min-lg:text-[1.2rem] min-md:text-[1.65rem] 
    min-lg:border-[1.8px] min-lg:border-solid min-lg:text-[#273d26] min-lg:border-[#273d26] min-lg:bg-transparent;
  }

  .blog-image {
    @apply min-md:h-[6rem] min-lg:h-full;
  }

  .blog-item {
    @apply border-b border-b-black py-3 min-lg:border-none;
  }

  .post-date {
    @apply text-[1.3rem] min-md:text-[1.4rem] pl-[.1rem];
  }
}

@layer utilities {
  .newsletter-form {
    @apply px-[1.5rem];
  }
}
