@import "tailwindcss";

@font-face {
  font-family: "Bethinaedemo";
  src: url("./assets/fonts/BethinaedemoRegular-KVRmZ.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@layer base {
  li {
    @apply list-none;
  }
  body {
    @apply bg-[#f4cfa3] m-[1.3rem] text-[#111] min-md:mx-[2rem] min-md:my-[1.3rem];
  }

  input {
    @apply min-md:text-[1.5rem];
  }

  p {
    @apply pb-[0.5rem];
  }
}

@layer components {
  .btn {
    @apply bg-[#bb6830] h-auto px-6 py-3 rounded-lg text-[1.2rem] min-md:text-[1.65rem];
  }

  .blog-image {
    @apply min-md:h-[6rem];
  }

  .blog-item {
    @apply border-b border-b-black py-3;
  }

  .post-date {
    @apply text-[1.3rem] min-md:text-[1.4rem] pl-[.1rem];
  }
}

@layer utilities {
  .newsletter-form {
    @apply px-[1.5rem];
  }
}
